<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hoja de Ruta</title>
    <style type="text/css">
        @page {
            size: A4 landscape;
            margin: 1cm;
        }

    </style>

</head>
<body>
    {% for hoja_ruta in hojas_ruta %}
        <div class="container">
            <div class="card">
                <table>
                    <td><h1>Parque Azul S.R.L.</h1></td>
                    <td align="center"><h1>Nombre Vendedor: {{ hoja_ruta.vendedor }}</h1></td>
                    <td align="right"><h1>Hoja de Ruta N° {{ hoja_ruta.numero_hoja_ruta }}</h1></td>
                </table>
                <br>
                <table>
                    <td><strong>Fecha:</strong> {{ today | date:"d/m/Y" }}</td>
                    <td align="center"><h1>{{ hoja_ruta.calle_barrio.barrio }}</h1></td>
                    <td></td>
                </table>

                <h3 align="center">
                    {{ hoja_ruta.calle_barrio.calle }}
                </h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th align="left"width="7%">ORDEN</th>
                            <th align="left" width="27%">DESTINATARIO</th>
                            <th align="left" width="15%">DOMICILIO</th>
                            <th align="left" width="5%">NRO</th>
                            <th align="left" width="5%">PISO</th>
                            <th align="left" width="6%">DEPTO</th>
                            <th align="left" width="6%">TIPO</th>
                            <th align="left">DOCUMENTO</th>
                            <th align="left">TELEFONO</th>
                            <th align="left">DEUDA</th>
                            <th align="left">PRODUCTOS</th>
                            <th align="left">INHUM.</th>
                            <th align="left">ACTIVO</th>
                            <th align="left">OBSERVACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for detalle in hoja_ruta.detalles %}
                        <tr style="height: 38px;">
                            <td >{{ detalle.numero_orden }}</td>
                            <td>{{ detalle.apellido }}, {{ detalle.nombre }}</td>
                            <td>{{ detalle.calle }}</td>
                            <td>{{ detalle.altura }}</td>
                            <td>{{ detalle.piso }}</td>
                            <td>{{ detalle.departamento }}</td>
                            <td>{{ detalle.tipo }}</td>
                            <td>{{ detalle.titular }}</td>
                            <td>{{ detalle.telefono }}</td>
                            <td>{{ detalle.deuda }}</td>
                            <td>{{ detalle.productos }}</td>
                            <td>{{ detalle.inhumados }}</td>
                            <td>{{ detalle.activos }}</td>
                            <td>{{ detalle.observaciones }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
           <pdf:nextpage />
        </div>
    {% endfor %}
</body>
</html>